*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.xxx-1{
    background-color: rgb(152, 152, 191);
    height: auto;
    padding-bottom: 15px;
}

.xxx-btn {
    background-color: rgb(235, 146, 164);
    border-radius: 5px;
    padding: 6px 12px;
    border: none;
    box-shadow: 4px 12px 28px black;
   
}